*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

body{
    background-color: #ededed;
}
.portada{
    position: relative;
    
}
div>img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 30vh;
    margin-bottom: -3px;
    margin-left: -1px;
    
}
nav{
    position: absolute;
    top: -7px;
    left: 50%;


}
nav>a{
    padding: 3px;
}
nav>a:hover{
    background-color: rgb(74, 184, 138);
}


.item{

    background-color: rgb(113, 118, 206);
    margin: 4px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
}
.active{
    background-color: rgb(74, 184, 138);
    margin: 4px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
box-shadow: 7px 9px 5px -1px rgba(0,0,0,0.75);
}


.articulos{
    display: flex;
    background-color: floralwhite;
    flex-wrap: wrap;
    flex-direction: column;

}
.lugar{
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    margin-top: 0px; 
    height: min-content ;
    width: 100%;
    text-align: center;
    background-color: #ededed;
}
.logo{
    
    width: 5rem;
    height: 5rem;
}

.contenedor{
    display: flex ;
    width: 100%;
    background-image: url("./assets/hockey_1.jpg");
    object-fit: contain;
    height: 70vh;
    
}
.fecha{
    margin: 0px;
}
.imagenes{
    object-fit: cover;
    height: 70%;
    width: 100%;
    margin: -1px;

}
.contactame{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-left: 1rem;

}

.tarjeta1{
    
    margin: 10px 0px;
    border: 1px solid cadetblue;
    padding: 5px;
    background-color: rgba(245, 245, 220, 0.505);


}

.mastercard{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px;
}

.conteinerRules{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    justify-self: center;
}

th{
    background-color: burlywood;
    color: black;
    
}
table{
    background-color: blanchedalmond;
    padding: 3px;
}

.titulo{
    padding: 30px;
    text-align: center;
}

.listaDePoliticas{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid red;
    height: 50vh;
    
    
}

form{
    border: 1px solid cadetblue;
    background-color: rgba(245, 245, 220, 0.505);
    display: flex;
    align-self: center;
    margin: 40px;
    margin-top: 10px;
    padding: 10%;
    flex-direction: column;
    align-content: space-between;


}


.contenedorRegistro{
    display: flex ;
    width: 100%;
    background-image: url("./assets/hockey_1.jpg");
    object-fit: contain;
    height: 90vh;
    flex-direction: column;
}

fieldset{
    margin: 5px;
    padding: 9px;
    
}


.gradoGenero{
    display: flex;
    flex-direction: row;
    
}

iframe{
    width:600;
    height:450; 
    border:0;
    
}